.topic {
    height: fit-content;
}

.topic h1 {
    color: #f3f3f3;
    font-family: 'Noto Serif', serif;
    font-size: 72px;
    margin: 25px;
    margin-left: 72px;
}

.site-content {
    height: fit-content;
    background-color: #f3f3f3;
}