@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    /* background-color: #00482d; */
}

body .slided {
    overflow-y: hidden;
}

.container {
    opacity: 0;
    background-color: #505050;
    transition: opacity 1s, background-color 1s;
}

.container-loaded {
    opacity: 1;
    background-color: #00482d;
}

.sidenav a {
    position: fixed;
    left: -200%;
    transition: 0.3s;
    padding: 15px;
    width: 350px;
    text-decoration: none;
    font-size: 23px;
    color: white;
    border-radius: 0 5px 5px 0;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: right;
    z-index: 99;
    vertical-align: top;
}

.sidenav a:hover {
    left: 0;
}

#mobi {
    bottom: 20px;
    background-color: rgb(0, 0, 100);
}

.ScrollUpBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 3;
    font-size: 18px;
    background-color: #00482d;
    color: white;
    padding: 15px;
    border-radius: 4px;
    opacity: 0.5;
    border: 1px solid #f3f3f3;
    outline: none;
    cursor: pointer;
}

.ScrollUpBtn:hover {
    opacity: 1;
    font-size: 20px;
    transition: all 0.1s ease-out;
    bottom: 19px;
    right: 29px;
}

@media only screen and (max-width: 768px) {
    .ScrollUpBtn {
        display: none;
        visibility: hidden;
    }
}

nav {
    height: 10%;
}

.navbar {
    display: block;
    background-color: #1e1e1e;
    font-size: 1.8vw;
    width: 100%;
    color: #f3f3f3;
    text-align: center;
    padding: 1.8vw;
    padding-top: 1.6vw;
    padding-bottom: 1.6vw;
    height: 6.75vw;
    align-items: center;
    position: absolute;
    z-index: 90;
}

.menu {
    margin: 0 2.15vw;
    margin-top: 10px;
    background-color: #1e1e1e;
    border-radius: 20%;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    position: fixed;
    z-index: 99;
    margin-top: 0.7vw;
}

.line {
    fill: none;
    stroke: #f3f3f3;
    stroke-width: 0.4vw;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 0.4vw;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 0.4vw;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 0.4vw;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 0.4vw;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 0.4vw;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 0.4vw;
}

.main-photo {
    width: 100%;
    padding-top: 27vw;
    height: 59vw;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/tmp.jpg");
    background-size: cover;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 0.5s;
}

.main-photo-loaded {
    opacity: 1;
}

.text {
    overflow: hidden;
    white-space: nowrap;
    margin: 7vw 18.7%;
    border-right: 0.21962vw solid #f3f3f3;
    color: #f3f3f3;
    letter-spacing: 0.21962vw;
    font-family: 'Berkshire Swash', sans-serif;
    font-size: 2.5vw;
    animation:
        typing 1.2s steps(25, end),
        cursor .8s step-end infinite;
    transition: opacity 1s;
    height: fit-content;
}

.text-loaded {
    animation-delay: 0.5s;
    opacity: 1;
}

.main-photo input {
    width: 2.928vw;
    display: block;
    height: 8.05vw;
    border: 0;
    position: absolute;
    left: 50%;
    top: 0;
    margin-top: 53%;
    transform: translate(-1.4641vw, -2.9282vw);
    z-index: 99;
    opacity: 0;
    cursor: pointer;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes cursor {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: #f3f3f3;
    }
}

.arrow {
    position: absolute;
    top: 0;
    margin-top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow span {
    display: block;
    width: 2.1961vw;
    height: 2.1961vw;
    border-bottom: 0.366vw solid #f3f3f3;
    border-right: 0.366vw solid #f3f3f3;
    transform: rotate(45deg);
    margin: -0.732vw;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-1.464vw, -1.464vw);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(1.464vw, 1.464vw);
    }
}

.about {
    width: 100%;
    height: fit-content;
    background-color: #f3f3f3;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 10%;

}

.about h1 {
    color: #00482d;
    text-align: center;
    padding-bottom: 5%;
    font-family: 'Noto Serif', serif;
    font-size: 4.5vw;
}

.about p {
    color: #1e1e1e;
    font-size: 2vw;

}

#map {
    position: relative;
    width: 47.5%;
    height: 21.961vw;
    background-color: white;
}

.info {
    width: 100%;
    height: fit-content;
    background-color: transparent;
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
    padding-top: 5%;
    padding-bottom: 10%;
}

.info h1 {
    padding-bottom: 5%;
    color: #f3f3f3;
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 4.5vw;
}

.info-txt {
    color: #f3f3f3;
    float: right;
    width: 42.5%;
    transform: translateY(-21.961vw);
    position: absolute;
    right: 5%;
    text-align: center;
    font-size: 2vw;
}

.info-txt h2 {
    font-size: 2.342vw;
    font-weight: bolder;
    margin-bottom: 5%;
}

.news {
    width: 100%;
    height: fit-content;
    background-color: #f3f3f3;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.news .news-1-line {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
}

.news h1 {
    color: #00482d;
    text-align: left;
    padding-bottom: 5%;
    font-family: 'Noto Serif', serif;
    font-size: 4.5vw;
}

.news .news-1-line a {
    cursor: pointer;
    background-color: #e5e5e5;
    margin-right: 4.5%;
    margin-bottom: 5%;
    border: #00482d solid 1vw;
    border-radius: 1%;
    transition: all 0.3s ease-out;
    flex: 1 1 30%;
    text-decoration: none;
    color: #1e1e1e;
}

@media only screen and (min-width: 768px) {
    .news .news-1-line a {
        flex: min-content;
    }
}

.news .news-1-line a img {
    height: 20vw;
    width: 23vw;
    display: block;
    margin: 5% auto 5% auto;
    transition: all 0.3s ease-out;
}

.news .news-1-line a h1 {
    color: #1e1e1e;
    font-size: 3vmin;
    font-weight: bolder;
    margin-left: 5%;
    transition: all 0.3s ease-out;
    position: relative;
    padding-bottom: 0;
}

.news .news-1-line a p {
    margin: 5% 5% 5% 5%;
    transition: all 0.3s ease-out;
    font-size: 2.0vmin;
}

.news .news-1-line a span {
    font-size: 2vmin;
    margin-left: 30%;
    margin-right: 30%;
}

.news .news-1-line a:hover {
    border: #00482d solid 0.5vw;
}

/*  */
.overlay {
    width: 100%;
    position: fixed;
    background: #1e1e1e;
    color: #f3f3f3;
    text-shadow: none;
    left: 0;
    top: 0;
    height: 0;
    z-index: 91;
    transition: 0.5s;
    display: inline-block;
    overflow-y: hidden;
}


.overlay-sidebar {
    position: fixed;
    top: 100px;
    visibility: hidden;
    height: 100%;
    width: 30%;
    margin-right: 0;
    padding-bottom: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.overlay-sidebar ::-webkit-scrollbar {
    display: none;
}


.overlay-sidebar ol {
    padding: 0px 50px 0;
    list-style: none;
    display: list-item;
    position: relative;
}

.overlay-sidebar ol li button {
    border: none;
    padding: 0;
    background: none;
    margin-top: 20px;
    margin-bottom: 20px;
    width: fit-content;
    text-align: left;
    cursor: pointer;
}

.overlay-sidebar ol li button span {
    text-decoration: none;
    background-position: 0 100%;
    background-size: 0 1px;
    font-size: 50px;
    color: #f3f3f3;
    position: relative;
    font-family: 'Noto Serif', serif;
    transition: all 0.3s ease;
}

.overlay-sidebar ol li button span.noactive {
    color: #505050;
    transition: all 0.3s ease;
}

.overlay-sidebar ol li button span:hover.noactive {
    color: #f3f3f3;
    transition: all 0.3s ease;
}

.overlay-sidebar ol li button span.noactive::after {
    height: 0;
}

.overlay-sidebar ol li button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #f3f3f3;
    transform-origin: bottom left;
    transition: transform 0.2s ease-out;
}

.overlay-sidebar ol li button:hover:after, .overlay-sidebar ol li button.active:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* .sidebar-active:after { */
/*     content: ''; */
/*     position: absolute; */
/*     width: 100%; */
/*     transform: scaleX(1); */
/*     height: 1px; */
/*     bottom: 0; */
/*     left: 0; */
/*     background-color: #fff; */
/*     transform-origin: bottom left; */
/* } */

.anim {
    --animate-duration: 1s;
}

.anim2 {
    --animate-duration: 0.4s;
}

.overlay-sidebar-children {
    position: fixed;
    top: 100px;
    visibility: hidden;
    height: calc(100% - 100px);
    overflow: auto;
    width: 25%;
    left: 30%;
    display: block;
    z-index: 5;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.overlay-sidebar-children::-webkit-scrollbar {
    display: none;
}

.overlay-sidebar-children.active {
    visibility: visible;
}

.overlay-sidebar-children ol {

    width: 100%;
    /*background-color: #272727;*/
    padding: 20px 50px 75px 50px;
    list-style: none;
    display: list-item;
    position: relative;
}

.overlay-sidebar-children ol li button {
    border: none;
    padding: 0;
    background: none;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: left;
    cursor: pointer;
}


.overlay-sidebar-children ol li button span {
    text-decoration: none;
    background-position: 0 100%;
    background-size: 0 1px;
    font-size: 27px;
    color: #f3f3f3;
    position: relative;
    font-weight: bolder;
}

#virgin span span {
    font-size: 30px;
    transform: translate(-5px, 6px);
    color: #1e1e1e;
    transition: all 0.2s ease-in-out;
    position: relative;
}

#virgin:hover span span {
    transform: translate(7px, 6px);
    color: #f3f3f3;
    transition: all 0.2s ease-in-out;
}

#mother span span {
    font-size: 40px;
    transform: translateY(8px);
    color: #505050;
    transition: all 0.2s ease-in-out;
}

#mother:hover span span, #mother span span.active {
    color: #f3f3f3;
    transition: all 0.2s ease-in-out;
}

.overlay-sidebar-grandchildren {
    position: fixed;
    top: 100px;
    visibility: hidden;
    height: 100%;
    overflow-y: auto;
    width: 50%;
    left: 50%;
    display: block;
    z-index: 5;
}

.overlay-sidebar-grandchildren.active {
    visibility: visible;
}

.overlay-sidebar-grandchildren ol {
    width: 100%;
    margin-top: 50px;
    padding: 20px 75px 0;
    list-style: none;
    display: list-item;
    position: relative;
}

.overlay-sidebar-grandchildren ol li {
    margin-left: 5%;
    border-bottom: 1px solid #505050;
}

.overlay-sidebar-grandchildren ol li:first-child {
    border-top: 1px solid #505050;
}

.overlay-sidebar-grandchildren ol li button {
    border: none;
    background: none;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    cursor: pointer;
}

.overlay-sidebar-grandchildren ol li button span {
    text-decoration: none;
    background-position: 0 100%;
    background-size: 0 1px;
    font-size: 20px;
    color: #f3f3f3;
    position: relative;
    font-weight: bold;
}

footer {
    display: flex;
    align-items: center;
    height: 10vmin;
}

.line {
    flex: 1;
    height: 0.2vmin;
    background-color: #f3f3f3;
}

footer p {
    padding: 0 2rem;
    color: #f3f3f3;
    font-size: 1.5vmin;
    font-weight: bolder;
}

#virgin2 span span {
    font-size: 30px;
    transform: translate(-5px, -2px);
    color: #1e1e1e;
    transition: all 0.2s ease-in-out;
    position: fixed;
}

#virgin2:hover span span {
    transform: translate(7px, -2px);
    color: #f3f3f3;
    transition: all 0.2s ease-in-out;
}