@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: blue;
}

.sidenav a {
    position: fixed;
    left: -275px;
    transition: 0.3s;
    padding: 15px;
    width: 350px;
    text-decoration: none;
    font-size: 23px;
    color: white;
    border-radius: 0 5px 5px 0;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: right;
    z-index: 99;
    vertical-align: top;
}

.sidenav a:hover {
    left: 0;
}

#mobi {
    bottom: 20px;
    background-color: rgb(0, 0, 100);
}

.ScrollUpBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    background-color: navy;
    color: white;
    padding: 15px;
    border-radius: 4px;
    opacity: 0.5;
    border: none;
    outline: none;
    cursor: pointer;
}

.ScrollUpBtn:hover {
    opacity: 1;
    font-size: 20px;
    transition: all 0.1s ease-out;
    bottom: 19px;
    right: 29px;
}

.navbar {
    display: block;
    background-color: red;
    font-size: 20px;
    width: 100%;
    color: white;
    text-align: right;
    padding: 15px;
}

.container {
    cursor: pointer;
    display: flex;
}

#siema {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2,
    }

    .active svg {
        transform: rotate(90deg);
    }

    path {
        transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    path:nth-child(1) {
        transform-origin: 36% 40%;
    }

    path:nth-child(2) {
        stroke-dasharray: 29 299;
    }

    path:nth-child(3) {
        transform-origin: 35% 63%;
    }

    path:nth-child(4) {
        stroke-dasharray: 29 299;
    }

    path:nth-child(5) {
        transform-origin: 61% 52%;
    }

    path:nth-child(6) {
        transform-origin: 62% 52%;
    }

    .active path:nth-child(1) {
        transform: translateX(9px) translateY(1px) rotate(45deg);
    }

    .active path:nth-child(2) {
        stroke-dasharray: 225 299;
        stroke-dashoffset: -72px;
    }

    .active path:nth-child(3) {
        transform: translateX(9px) translateY(1px) rotate(-45deg);
    }

    .active path:nth-child(4) {
        stroke-dasharray: 225 299;
        stroke-dashoffset: -72px;
    }

    .active path:nth-child(5) {
        transform: translateX(9px) translateY(1px) rotate(-45deg);
    }

    .active path:nth-child(6) {
        transform: translateX(9px) translateY(1px) rotate(45deg);
    }